{% extends "base.html" %}


{% block title %}{{ summary.caption }}{% endblock %}

{% block sidenav %}
{% for page in pages %}
<a class="btn btn-primary btn-sm btn-block" href="{{ url_for('summary', location=page[0]) }}" role="button">{{ page[1] }}</a>
{% endfor %}
{% endblock %}

<!-- Start Main Content -->
{% block content %}
<h1>{{ summary.caption }}</h1>
<hr>

<h3>Water Hardness</h3>
<div class="row">
  <div class="col-md-8">
    <h6 class="align-right">Mg Hardness and Ca Hardness &middot <a href="#" >Download csv for plot</a> &middot</h6>
    <a href={{ url_for('static', filename='img/'+summary.hardness_png ) }} class="thumbnail">
      <img src={{ url_for('static', filename='img/'+summary.hardness_png ) }} alt="Water hardness">
    </a>
  </div>
</div>

<h3>Water Alkalinity</h3>
<div class="row">
  <div class="col-md-8">
    <h6 class="align-right">Total and Residual Alkalinity &middot <a href="#" >Download csv for plot</a> &middot</h6>
    <a href={{ url_for('static', filename='img/'+summary.alkalinity_png ) }} class="thumbnail">
      <img src={{ url_for('static', filename='img/'+summary.alkalinity_png ) }} class="figure-img img-fluid" alt="Water alkalinity">
    </a>
  </div>
</div>

<h3>Ion Concentrations</h3>
<div class="row">
  {% for ion in summary.ion_png_list %}
  <div class="col-lg-6 col-md-8 thumb">  
    <h6 class="align-right">{{ ion[1] }} &middot <a href="#" >Download csv for plot</a> &middot</h6>
    <a href={{ url_for('static', filename='img/'+ion[0] ) }} class="thumbnail">
      <img src={{ url_for('static', filename='img/'+ion[0] ) }} class="figure-img img-fluid img-responsive" alt="Water alkalinity">
    </a>
  </div>
  {% endfor %}
</div>

  {{ unused }}
{% endblock %}
